<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}
=======
@import "tailwindcss";
>>>>>>> d288090 (Initial Smoothr landing page)
