@import "tailwindcss";

@theme {
  --color-ink_black: #001524;
  --color-ink_black-100: #000407;
  --color-ink_black-200: #00080e;
  --color-ink_black-300: #000c15;
  --color-ink_black-400: #00111d;
  --color-ink_black-500: #001524;
  --color-ink_black-600: #004c83;
  --color-ink_black-700: #0083e1;
  --color-ink_black-800: #41b0ff;
  --color-ink_black-900: #a0d7ff;
  --color-stormy_teal: #15616d;
  --color-stormy_teal-100: #041315;
  --color-stormy_teal-200: #08262b;
  --color-stormy_teal-300: #0c3940;
  --color-stormy_teal-400: #104c56;
  --color-stormy_teal-500: #15616d;
  --color-stormy_teal-600: #2199ab;
  --color-stormy_teal-700: #3ec5da;
  --color-stormy_teal-800: #7ed9e7;
  --color-stormy_teal-900: #bfecf3;
  --color-papaya_whip: #ffecd1;
  --color-papaya_whip-100: #5d3600;
  --color-papaya_whip-200: #ba6c00;
  --color-papaya_whip-300: #ff9f17;
  --color-papaya_whip-400: #ffc574;
  --color-papaya_whip-500: #ffecd1;
  --color-papaya_whip-600: #fff0da;
  --color-papaya_whip-700: #fff4e3;
  --color-papaya_whip-800: #fff7ed;
  --color-papaya_whip-900: #fffbf6;
  --color-vivid_tangerine: #ff7d00;
  --color-vivid_tangerine-100: #331900;
  --color-vivid_tangerine-200: #663100;
  --color-vivid_tangerine-300: #994a00;
  --color-vivid_tangerine-400: #cc6300;
  --color-vivid_tangerine-500: #ff7d00;
  --color-vivid_tangerine-600: #ff9633;
  --color-vivid_tangerine-700: #ffb066;
  --color-vivid_tangerine-800: #ffca99;
  --color-vivid_tangerine-900: #ffe5cc;
  --color-brandy: #78290f;
  --color-brandy-100: #180803;
  --color-brandy-200: #2f1006;
  --color-brandy-300: #471809;
  --color-brandy-400: #5e200c;
  --color-brandy-500: #78290f;
  --color-brandy-600: #b93f17;
  --color-brandy-700: #e66235;
  --color-brandy-800: #ee9679;
  --color-brandy-900: #f7cbbc;
}

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}
